@page "/"

<PageTitle>Oscar Predictions</PageTitle>

<h1>Oscars 2023 Predictions</h1>

<p>Welcome to the Oscars 2023 predictions game. <a target="_blank"
        href="https://www.oscars.org/oscars/ceremonies/2023">See the full
        list of nominees <span class="oi oi-share-boxed" aria-hidden="true"></span></a></p>


<NavLink href="/categories">Start your ballot!</NavLink>