<AuthorizeView>
  <Authorized>
    <a class="btn" href="logout">Log out</a>
  </Authorized>
  <NotAuthorized>
    <a class="btn" href="login?redirectUri=/">Log in</a>
  </NotAuthorized>
</AuthorizeView>